<div id="live-chat">
  <header class="clearfix">
    
    <a href="#" class="chat-close">x</a>

    <h4>Chat Bot</h4>

    <span class="chat-message-counter">3</span>

  </header>

  <div class="chat">
    
    

    <p class="chat-feedback">Your partner is typing…</p>

    <form>

      <fieldset>
        
        <input type="text" placeholder="Type your message…" value=""autofocus #msgInput/>
        <button type="button" (click)="sendMessageToChatServer(msgInput.value)">Send</button>
        <input type="hidden">

      </fieldset>

    </form>

  </div> <!-- end chat -->

</div> <!-- end live-chat -->
