<div id="live-chat">
  <header class="clearfix">
    
    <a href="#" class="chat-close">x</a>

    <h4>Chat Bot</h4>

    <span class="chat-message-counter">3</span>

  </header>

  <div class="chat">
    
    

    <p class="chat-feedback">Your partner is typing…</p>

    <form action="#" method="post">

      <fieldset>
        
        <input type="text" placeholder="Type your message…" autofocus>
        <input type="hidden">

      </fieldset>

    </form>

  </div> <!-- end chat -->

</div> <!-- end live-chat -->
